/*PAGINA PRINCIPAL*/


/* font-family: 'Roboto', sans-serif; */
* {
    margin: 0; /*POSICIONAMENTO PRO LADO DE FORA*/
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
  }
  
  /*Aguardando lugar no projeto*/
  
  body {
    background-color: #000000;
  }
  
  nav{
    margin: 35px 0px 0px 1100px;
    position:relative
  }
  
  .link-nav {
  font-weight: 600;
  font-size: 64px;
  line-height: 99px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 53px;
  padding: 20px 20px 20px 25px;
  }
  
  .button-nav {
  background: #665ae1;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  border-radius: 55.5px;
  width: 290px;
  height: 100px;
  border: none;
  font-weight: 600;
  font-size: 54px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  }
  
  .fundo-superacao {
    display: inline-block;
    width: auto;
    height: 685px;
    margin: 20px 0px 0px 0px; /*POSICIONAMENTO PRO LADO DE FORA*/
  }

  .conteiner-one {
    background-color: #665ae1;
    width: 3540px; /*DIMENSÃO DO TEXTO*/
    height: 2130px;
    text-align: center;
    padding: 50px;
  
  }