/* font-family: 'Roboto', sans-serif; */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	outline: none;
  }

  /*Aguardando lugar no projeto*/


.button-nav {
	background: #2f00ff;
	border-radius: 30px;
	width: 239px; /*DIMENSÃO DO TEXTO*/
	height: 64px;
	border: none;
	cursor: pointer;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	font-weight: 700;
	font-size: 28px;
	font-weight: 34px;
	color: #ffffff;
	display: inline-block;
	margin: 30px auto 30px 70px;
}
nav {
	margin: 30px 0px 20px 770px;
}


h1 {
	
	border-radius: 30px; /*ARREDONDAR BORDAS*/
	width: 939px; /*DIMENSÃO DO TEXTO*/
	filter: drop-shadow(1px 7px 4px rgba(0, 0, 0, 0.25));
	font-weight: 700; /*ESPESSURA DA FONTE*/
	font-size: 78px; /*TAMANHO DAS LETRAS*/
	margin: 40px auto 40px;
	cursor: pointer;
	
}
h2 {
	margin: 30px 0px 20px 1170px;
	width: 409px;
	
}
h3 {
	width: 1000px; /*DIMENSÃO DO TEXTO*/
	font-weight: 700; /*ESPESSURA DA FONTE*/
	margin: 20px 0px 20px 20px;
	font-size: 29px;
	color: #ffffff;
	
}
section {
	width: 100vh; /*AUTURA*/
	height: 35vw; /*LARGURA*/
	position: relative;
	text-align: center; /*CENTRALIZAR TEXTO*/
	background-color: #412632;
	padding: 20px;  /*EXPASSAMENTO INTERNO*/
		
}

.div1 {
	
	
  }	